*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/backend/__pycache__
/backend/venv
.env
backend/.env
*.db
*.db-journal

# Firebase & Secrets
backend/serviceAccountKey.json
app/google-services.json
**/secrets.xml
.env*

# Python local data
backend/static/faces/
backend/static/faces/*
backend/attendance.db
*.jpg
*.png
*.jpeg
